body {
    background: #E5E5E5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy';
}

button {
    border: none;
}

a, a:hover {
    color: black;
}

p {
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a, a:hover, p, input, button, h1, h2, h3, h4, h5, h6, label, li, ul {
    text-decoration: none;
}


.logo {
    margin: 30px auto;
    width: 100px;
    height: 100px;
    display: block;
    box-sizing: content-box;
}

.reg {
    background: #FFFFFF;
    margin: 0 auto;
    padding: 60px;
}

.switch {
    display: flex;
    justify-content: center;
    font-size: 25px;

}

.switch-instanse {
    padding: 12px 0;
    width: 40%;
    display: inline-block;
    text-align: center;
}

.switch-instanse:first-child {
    border-right: 2px solid #f1f1f1;
}

.act-switch {
    border-bottom: 2px solid #f1f1f1;
}

.unact-switch {
    border-top: 2px solid #f1f1f1;
}


.switch-text-unactive {
    color: #6F6C6C;
}


.title-reg {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0;
}

.reg-log-form-field {
    border: 2px solid #f1f1f1;
    border-radius: 0;
    margin-bottom: 20px;
    padding: 25px 20px;
}

.reg-log-form {
    margin: 0 auto;
}

.reg-log-button {
    border: 0;
    background: #FFC418;
    color: white;
    height: 61px;
    display: block;
    margin: 0 auto;
}

.partition-or-socialacc {
    overflow: hidden;
    margin: 15px auto;
    text-align: center;
    font-weight: bold;
}

.partition-or-socialacc::after, .partition-or-socialacc::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #f1f1f1;
}

.partition-or-socialacc::before {
    margin-left: -100%;
    margin-right: 20px;
}

.partition-or-socialacc::after {
    margin-right: -100%;
    margin-left: 20px;
}

.login-with-socialacc {
    margin: 0 auto;
}

.socialacc-button {
    overflow: hidden;
    text-align: center;
    padding: 20px;
    border: 2px solid #f1f1f1;
}

.nav {
    flex: 0 1 auto;
    background: #FFFFFF;
}

.nav-link {
    font-family: Gilroy;
    font-size: 17px;
}

.day {
    font-family: Gilroy;
    width: 195px;
    margin: 15px;
}

.day-head {
    flex-flow: column wrap;
    text-align: center;
    border-radius: 20px 20px 0 0;
    height: 75px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-size: 18px;
}

.day-body {
    text-align: center;
    align-items: center;
    height: 120px;
    padding: 10px 15px 15px 15px;
    display: flex;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

.day-head-rest {
    padding: 27px;
    background: #A6E9C1;
}

.day-body-rest {
    font-size: 26px;
    background: #C2FFDA;

}

.day-body-rest:hover {
    background: #A6E9C1;
}

.day-head-empty {
    padding: 27px;
    background: #DADADA;
}


.day-body-empty {
    font-size: 86px;
    background: #FFFFFF;
}

.day-body-empty:hover {
    background: #DADADA;
}

.day-head-completed {
    background: #9F8ADE;
}

.day-body-completed {
    background: #B4A9D6;
}

.day-body-completed:hover {
    background: #9F8ADE;
}

.day-head-missed {
    background: #DD5048;
}

.day-body-missed {
    background: #ED726B;
}

.day-body-missed:hover {
    background: #DD5048;
}

.day-head-planned {
    background: #FFC030;
}

.day-body-planned {
    background: #FFD678;
}

.day-body-planned:hover {
    background: #FFC030;
}


.transition:hover {
    transition: 0.2s;
}

.transition:not(:hover) {
    transition: 1s;
}

.big-day {
    margin: 30px auto;
}

.day-body-big {
    border-radius: 0 0 60px 60px;
}

.day-head-big {
    font-size: 20px;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 60px 60px 0 0;
    height: 100px;
}

.big-training-title {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
}

.big-training-content-comment {
    word-wrap: break-word;
    padding: 20px 30px;
}

.line {
    background: black;
    color: black;
    height: 1px;
}

.comment-training {
    word-wrap: break-word;
}

.calendar-background {
    flex: 1 1 auto;
    background: url("../img/calendar-background.jpg");
    background-size: auto 100%;
}

.calendar-title {
    margin-top: 33px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
}

.training-prompt {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-family: Gilroy;
    font-size: 18px;
}

.training-missed-prompt {
    background: #DD5048;
}

.training-completed-prompt {
    background: #9F8ADE;
}

.training-planed-prompt {
    background: #FFC418;
}

.training-rest-prompt {
    background: #A6E9C1;
}

.training-empty-prompt {
    background: #DADADA;
}

.prompt-text {
    font-family: Gilroy;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    padding-left: 13px;
}

.training-line {
    margin-top: 65px;
    height: 105px;
    width: 100%;
}

.training-line-completed {
    background: #9F8ADE;
}

.training-line-missed {
    background: #DD5048;
}

.training-line-planed {
    background: #FFC418;
}

.training-detail-dayweek {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}

.training-detail-date {
    font-size: 22px;
    color: #FFFFFF;
}

.training-detail-edit-delete {
    color: #FFFFFF;
    font-size: 18px;
}

.training-detail-edit-delete:hover {
    color: #FFFFFF;
}

.training-detail-title {
    margin: 33px 0;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
}

.training-detail-content {
    font-size: 18px;
    color: #FFFFFF;
}

.training-detail-label-checkbox {
    padding-top: 2px;
    color: #FFFFFF;
    font-size: 17px;
}

.training-detail-comment-line {
    height: 2px;
    width: 100vw;
    margin: 20px 0;
}

.training-detail-comment-line-empty {
    background: #DADADA;
}

.training-detail-comment-title {
    font-size: 23px;
    font-weight: bold;
    color: #FFFFFF;
}

.training-line-empty {
    background: #DADADA;
    color: #000000;
}

.training-detail-line-save-update {
    color: black;
    border: None;
    background: None;
}

.training-detail-line-save-update:hover {
    color: black;
}

.training-create-form-field {
    border: None;
    background: #DADADA;
    padding: 20px 20px;
}


::placeholder {
    color: black;
}


.add-training {
    padding: 10px;
    border: 2px solid #DADADA;
    border-radius: 50%;
    font-size: 0;
}

.training-create-form-field-date {
    background: #DADADA;
    margin: 6px 0;
    padding: 2px 0;
    font-size: 24px;
    border: 1px solid black;
    text-align: center;
}

.alert-training {
    text-align: center;
    padding: 7px 0;
    color: black;
    background: white;
}

.profile-image-add {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.profile-image-add:hover {
    background: #DADADA;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    object-fit: cover;
}

.profile-gym-title {
    display: flex;
    color: white;
    font-size: 24px;
    justify-content: center;
    margin: 0;
}

.profile-select-gym {
    margin: 0 auto;
    display: flex;
}

select {
    font-size: 20px;
    color: #FFC418;
    background: none;
    border: none;
    outline: 0px;
}

.profile-edit {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    background: none;
    color: #FFC418;
}

.profile-edit:hover {
    color: white;
}

.profile-line {
    height: 1px;
}

.profile-progress-title {
    font-weight: bold;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
}

.result-block {
    padding: 30px;
    background: white;
    border-radius: 10%;
}

.profile-result-name {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.profile-result-description {
    font-size: 13px;
}

.profile-result-value {
    margin: 0;
    border: none;
    width: 46px;
    font-weight: bold;
    font-size: 24px;
}

.profile-change-result-label {
    font-size: 20px;
    color: #FFC418;
}

.first {
    padding-top: 68px;
    padding-bottom: 204px;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.pointers {
    margin-bottom: 50px;
}

.pointer_chat {
    font-size: 18px;
    margin-right: 12px;
    display: block;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 20px 40px;
}

.pointer_calendar {
    font-size: 18px;
    display: block;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 20px 40px;
}

.pointer_img {
    margin-right: 10px;
}

.offer_pre-h {
    font-size: 45px;
    line-height: 52px;
    text-align: center

}

.offer_h {
    margin-bottom: 25px;
    color: #FFC418;
    font-size: 60px;
    font-weight: bold;
}

.offer_text {
    margin-bottom: 25px;
}

.offer_btn {
    font-size: 19px;
    display: block;
    width: 287px;
    height: 60px;
    background-color: #FFC418;
    text-align: center;
    line-height: 60px;
}

.offer_btn:hover {
    background-color: #EEB100;
}


/*!!!!!!!!!!!!!!!!!!Абонименты!!!!!!!!!!!!*/

.aboniments {
    flex: 1 1 auto;
    background-size: auto 100%;
    padding-top: 60px;
}

.aboniment {
    border-radius: 20px;
    padding: 40px;
}

.aboniment_one {
    background-color: #fcf8d7;
}

.aboniment_two {
    color: #fff;
    background-color: #050405;
}

.aboniment_three {
    background-color: #fcb304;
}

.aboniment-h {
    font-size: 40px;
    font-weight: bold;
}

.abonimet-one_h {
    color: #000;
    margin-bottom: 40px;
}

.abonimet-two_h {
    color: #fff;
    margin-bottom: 40px;
}

.aboniments_points {
    color: #000;
    font-size: 19px;
    width: 256px;
    margin-bottom: 60px;
}

.aboniments-two_points {
    color: #fff;
}

.aboniments_points > li {
    margin-bottom: 5px;
}

.aboniment_price {
    color: #000;
    font-size: 39px;
    margin-bottom: 25px;
}

.aboniment-two_price {
    color: #fff;
}

.aboniment_btn {
    display: block;
    width: 270px;
    height: 70px;
    color: #000;
    text-align: center;
    background-color: #ffef6d;
    border-radius: 10px;
    font-size: 20px;
    line-height: 70px;
    font-weight: bold;

}

.aboniment-two_btn {
    background-color: #f1ac09;
}

.aboniment-three_btn {
    color: #fff;
    background-color: #1d1c1c;
}

.aboniment_btn:hover {
    background-color: #f8e545;
    color: #000;
}

/*!!!!!!!!!!!!!!!!!!!!Новости!!!!!!!!!!!!!!!!!!!*/
.news_img {
    border-radius: 40px;
    object-fit: cover;
}

.news_item {
    display: block;
    margin-bottom: 35px;

}

.news_description {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}


.news {
    flex: 1 1 auto;
    background: url("../img/news_bg.jpg");
    background-size: auto 100%;
}


.news_h {
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.news_date {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #9C9C9C;
}

.page_h {
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
}

/*!!!!!!!!!!!!!!!!!!!!Новость!!!!!!!!!!!!!!!!!!!*/
.innews_img {
    border-radius: 50px;
    padding: 0;
    object-fit: cover;
}

.innews_h {
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
}

.innews_text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
}


/*!!!!!!!!!!!!!!!!!!!!Забронировать абонимент!!!!!!!!!!!!!!!!!!!*/
.brone_aboniment {
    padding: 60px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.brone_aboniment_logo {
    margin-bottom: 95px;
    width: 95px;
    height: 95px;
}

.brone_aboniment_form {
    width: 750px;
    background: #FFFFFF;
    padding: 50px 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.brone_aboniment_h {
    color: #219653;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
}

.brone_aboniment_input {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    width: 458px;
    height: 59px;
    padding: 20px;
    margin-bottom: 30px;
}

.white, .white:hover {
    color: white;
}

.account-exit {
    background: #FFC418;
    font-size: 20px;
}

.bg-black {
    background: black;
}

.bg-black:hover {
    background: #1d1c1c;
}

.aboniment-input-number {
    font-size: 20px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!ЧАТЫ!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.bg_chat {
    flex: 1 1 auto;
    background-size: auto 100%;
}


.trainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trainer_info {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #FFF;
}

.trainer_img {
    margin-bottom: 15px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.trainer_name {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
}

.chats {
    height: 650px;
    padding: 25px;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 30px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
}

.message {
    align-items: center;
    padding: 16px 20px;
    background: #F1F1F1;
    border-radius: 25px;
    width: max-content;
    max-width: 90%;
    margin-bottom: 15px;
    justify-content: space-between;
}


.message_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin-bottom: 0;
}

.message_time {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 16px;
    color: #A2A2A2;
    padding: 0.5em 0 0 0;
}

.messages_user {
    display: flex;
    justify-content: flex-end;
}

.message_user {
    background: #FFEEC6;
}

.message_user > .message_time {
    justify-content: flex-end;
}

.chat_form {
    display: flex;
    align-items: center;
}

.chat_textarea {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 0 0 25px 25px;
    padding: 15px 24px;
    width: 100%;
    margin-right: 20px;
}

.chat_textarea:focus {
    outline: none;
}

.chat_hr {
    color: #a2a2a2;
}

.chat_btn {
    width: 160px;
    height: 50px;
    background: #FFC418;
    border-radius: 25px;
    border: none;
    padding: 15px 30px;
    align-items: center;
}

.chat_btn:hover {
    background: #ECB61B;
}

.aboniment-input-number-square {
    font-size: 25px;
    text-align: center;
}
