{% load static %}
{% load i18n %}


<div class="nav d-flex align-items-center pb-2 pt-2">
    <div class="container">
        <div class="d-flex align-items-center bd-highlight">
            <a class="nav-link" href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" alt="logo" width="65"
                                                             height="65"></a>
            <a class="nav-link" href="{% url 'home' %}">{% trans 'Главная' %}</a>
            <form action="{% url 'set_language' %}" method="post" class="nav-link flex-grow-1">
                {% csrf_token %}
                <select name="language" onchange="submit();" style="color: #FFC105;">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                selected{% endif %}>{{ language.code|title }}
                        </option>
                    {% endfor %}
                </select>
            </form>
            {#            {% get_current_language as LANGUAGE_CODE %}#}
            {#            {% get_available_languages as LANGUAGES %}#}
            {#            {% get_language_info_list for LANGUAGES as languages %}#}
            {#            {% for language in languages %}#}
            {#                <a href="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %}#}
            {#                   class="nav-link flex-grow-1 bd-highlight" {% else %} class="link mr-3" {% endif %}>{{ language.name_local }} </a>#}
            {#            {% endfor %}#}
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'chat' %}">{% trans 'Сообщения' %}</a>
                <a class="nav-link" href="{% url 'calendar' %}">{% trans 'Календарь тренировок' %}</a>
            {% endif %}
            {% if user.is_staff %}
                <a class="nav-link" href="{% url 'admin:index' %}">{% trans 'Административная панель' %}</a>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ user.get_full_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' %}">{% trans 'Профиль' %}</a>
                    <a class="dropdown-item" href="{% url 'articles' %}">{% trans 'Статьи' %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans 'Выйти из аккаунта' %}</a>
                </div>
            {% else %}
                <a class="nav-link" href="{% url 'account_login' %}">{% trans 'Войти' %}</a>
            {% endif %}
            </div>
        </div>
    </div>
</div>