{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="logo">
    <svg width="95" height="95" viewBox="0 0 95 95" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M24.5085 21.0509L26.2918 24.73C27.0051 25.5885 27.9562 26.3243 27.3618 27.428L29.1451 27.7959C29.6207 30.2486 29.1451 30.2486 28.194 31.7202C26.1729 30.8618 25.5785 29.8807 22.6063 30.0033C23.0818 30.9844 22.7252 30.2486 23.6763 30.9844C24.2707 31.4749 24.3896 31.5976 24.7463 32.456C23.3196 33.4371 23.5574 33.0692 21.2985 32.3334L20.3474 32.0881C20.1097 32.0881 19.9908 31.9655 19.753 31.9655C18.683 31.9655 19.5152 31.8428 19.0397 32.2108C18.4452 32.9466 18.3263 35.0314 18.683 36.2577C19.5152 36.9935 21.0608 37.1162 22.3685 37.6067C22.963 37.852 25.1029 39.201 25.4596 39.6915C26.054 40.4273 26.4107 41.8989 27.124 42.88C29.264 45.7006 29.264 44.7195 30.2151 47.2949C30.9284 49.257 31.5229 47.6628 32.3551 53.0587C34.0195 63.1148 33.544 62.6243 30.334 70.2277C29.8584 71.454 29.6207 78.4442 30.0962 79.7932L32.9495 87.1513C34.2573 92.4247 33.0684 92.1794 31.2851 95C27.0051 94.0189 21.893 90.4625 18.9208 88.1324C15.473 85.5571 11.9064 81.878 9.29086 78.3216C-9.73118 51.4645 1.80093 13.6928 31.6418 2.90093C55.1815 -5.68353 76.1058 6.21208 85.7357 19.9472C94.8901 32.9466 97.8623 50.2381 91.9179 66.426C90.3723 70.7182 89.3023 72.5577 87.0435 76.1142C86.449 77.0952 86.0924 78.4442 84.5468 78.5669L84.4279 77.9537C84.4279 77.9537 84.4279 77.8311 84.4279 77.7084C84.309 77.2179 84.6657 77.5858 84.309 77.0952C82.4068 77.9537 80.2669 79.0574 78.6024 77.5858C78.6024 75.0105 81.5746 74.8878 82.6446 72.9256H80.2669C82.0502 69.7371 83.5957 70.3503 84.9035 70.2277L85.8546 68.0202C81.218 67.775 82.6446 68.6334 79.7913 66.6713C80.9802 64.9544 81.4557 65.9354 81.8124 62.6243L75.3925 64.8317L75.9869 62.5017L69.567 62.379C69.3292 59.681 69.4481 59.9263 70.9936 58.7C72.658 57.4736 72.0636 57.2283 73.1336 55.7567C72.4203 54.8983 73.3714 55.8794 72.5392 55.3888C71.1125 54.653 71.9447 55.2662 71.2314 54.2851C70.1614 54.8983 69.8047 55.5114 68.1403 55.7567L68.8536 54.2851C66.9514 54.0398 66.1192 54.5304 64.4548 54.8983C65.0492 53.0587 65.4059 53.0587 66.5948 49.5023C66.9514 48.3986 67.0703 48.6439 67.427 47.6628H64.4548V47.5402V47.4175V47.2949C63.2659 47.9081 61.6015 49.0118 60.1748 49.1344C60.0559 46.4364 62.6715 47.7854 60.8882 45.4554C60.4126 44.9648 60.7693 45.7006 60.5315 44.9648C60.8882 44.4743 61.7204 43.3706 61.8393 42.6347L60.0559 42.3895C58.7482 42.0216 58.7482 43.1253 56.7271 43.9837L57.7971 41.6537L56.846 40.9179L56.7271 40.7952L56.2515 40.4273C56.9649 39.6915 56.9649 39.8141 57.3215 38.8331H52.3282L52.8038 36.7483C50.6638 36.7483 50.7827 36.3804 49.2372 36.0124L49.5938 35.2766C49.8316 34.6635 49.8316 35.7672 49.8316 34.5408C48.1672 32.8239 47.335 34.0503 45.5516 30.9844C44.9572 30.0033 45.0761 30.3712 44.3628 29.6354C43.5305 28.6543 42.9361 27.428 42.2228 26.5695C41.3906 25.5885 41.7472 26.079 40.6772 25.4658C39.1317 24.6074 40.4395 25.3432 39.6072 24.1168C36.9917 24.1168 38.2995 23.8716 35.9217 22.1547C34.8517 21.4189 33.0684 20.683 31.6418 20.683C30.9284 19.8246 29.8584 18.1077 28.0751 18.4756C27.124 18.7209 25.1029 20.3151 24.5085 21.0509Z"
              fill="black"/>
    </svg>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7 reg">
            <div class="switch">
                <div class="switch-instanse unact-switch col-md-6">
                    <a href="{% url 'account_login' %}" class="switch-text-active">{% trans 'Вход' %}</a>
                </div>
                <div class="switch-instanse act-switch col-md-6">
                    <a href="{% url 'account_signup' %}" class="switch-text-unactive">{% trans 'Регистрация' %}</a>
                </div>
            </div>

            <p class="title-reg">{% trans "Войдите с помощью Email" %}</p>

            <div class="reg-log-form col-md-10">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-warning">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-warning">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <input type="email" name="login" class="reg-log-form-field form-control" placeholder="E-mail"
                           autocomplete="email" required
                           id="id_login">

                    <input type="password" name="password" class="reg-log-form-field form-control"
                           placeholder="{% trans 'Пароль' %}" autocomplete="current-password" required
                           id="id_password">

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="reg-log-button col-4 mt-3" type="submit">{% trans 'Войти' %}</button>
                    {#                        <a class="button secondaryAction d-flex justify-content-center mt-3"#}
                    {#                           href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
                </form>
            </div>

            <p class="partition-or-socialacc">{% trans 'or' %}</p>

            <div class="login-with-socialacc row col-12 col-md-10 justify-content-center">
                <a class="socialacc-button col-5" href="{% provider_login_url 'vk' %}">
                    <svg width="32" height="32" class="mr-2" viewBox="0 0 32 32" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path d="M20.911 0H11.088C2.12399 0 -0.00100708 2.125 -0.00100708 11.089V20.912C-0.00100708 29.876 2.12399 32.001 11.088 32.001H20.911C29.875 32.001 32 29.876 32 20.912V11.089C32 2.125 29.854 0 20.911 0ZM25.833 22.828H23.51C22.63 22.828 22.359 22.13 20.776 20.526C19.401 19.193 18.792 19.016 18.453 19.016C17.974 19.016 17.838 19.151 17.838 19.808V21.907C17.838 22.47 17.661 22.808 16.171 22.808C13.707 22.808 10.973 21.318 9.05599 18.542C6.16499 14.474 5.37399 11.427 5.37399 10.797C5.37399 10.458 5.50899 10.141 6.15999 10.141H8.48799C9.07699 10.141 9.30099 10.412 9.52999 11.042C10.681 14.365 12.598 17.276 13.389 17.276C13.681 17.276 13.816 17.141 13.816 16.396V12.964C13.727 11.381 12.894 11.245 12.894 10.683C12.894 10.412 13.118 10.141 13.477 10.141H17.138C17.633 10.141 17.815 10.412 17.815 10.995V15.625C17.815 16.125 18.039 16.302 18.174 16.302C18.466 16.302 18.716 16.125 19.257 15.583C20.929 13.708 22.127 10.817 22.127 10.817C22.283 10.478 22.554 10.161 23.143 10.161H25.471C26.169 10.161 26.325 10.52 26.169 11.02C25.877 12.374 23.028 16.395 23.028 16.395C22.783 16.801 22.689 16.978 23.028 17.431C23.278 17.77 24.091 18.473 24.632 19.103C25.627 20.233 26.392 21.181 26.596 21.837C26.825 22.488 26.487 22.827 25.83 22.827L25.833 22.828Z"
                                  fill="#2787F5"/>
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="32" height="32" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    {% trans 'Вконтакте' %}</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}


