{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <section class="news">
        <div class="container">
            <div class="col-8 mt-5 mb-5">
                <img src="{{ object.preview_image.url }}" class="innews_img col-12" alt="" height="400">
                <div class="innews_description mt-2">
					<span class="innews_h white">
						{{ object.title }}
					</span><br>
                    <span class="news_date">
                        {{ object.date }}
					</span>
                    <div class="innews_text white">
                        {{ object.content|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}