{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Статьи о спорте' %}
{% endblock %}

{% block content %}
    <section class="news">
        <h2 class="page_h white mt-5">{% trans 'Полезная информация о тренировках' %}</h2>
        <div class="container">
            <div class="row d-flex">
                {% for article in object_list %}
                    {% if article.allowed_by_admin %}
                        <div class="col-4">
                            <a href="{% url 'articles_detail' article.pk %}" class="news_item ">
                                <img src="{{ article.preview_image.url }}" alt="" class="news_img" width="350"
                                     height="350">
                                <div class="news_description">
							<span class="news_h white">
								{{ article.title }}
							</span>
                                    <span class="news_date white mt-2">
								{{ article.date }}
							</span>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}