{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load users_tags %}

{% block title %}
    {% trans 'Сообщения' %}
{% endblock %}

{% block content %}
    <div class="bg_chat" style="background-image: url({% static 'img/homepagebg2.jpg' %})">
        <div class="container mt-5">
            <div class="row">
                <div class="col-4">
                    <div class="trainer">
                        {% if user.is_trainer %}
                            <div class="btn-group mb-3">
                                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if current_chat %}
                                        {{ current_chat }}
                                    {% else %}
                                        {% trans 'Выберите клиента' %}
                                    {% endif %}
                                </button>
                                <div class="dropdown-menu">
                                    {% for chat in chats %}
                                        <a class="dropdown-item"
                                           href="{% url 'chat' %}?chat={{ chat.id }}">{{ chat }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if current_chat %}
                                <span class="trainer_info">
								{% trans 'Клиент' %}
							    </span>
                                {% if current_chat.client_id.image %}
                                    <img src="{{ current_chat.client_id.image.url }}" alt="" class="trainer_img">
                                {% endif %}
                                {% if current_chat.client_id.gym %}
                                    <span class="trainer_info mb-1">
                                        {% trans 'Тренажёрный зал' %}:
                                    </span>
                                    <span class="trainer_info mb-4">
                                        {{ current_chat.client_id.gym }}
                                    </span>
                                {% endif %}
                                {% if current_chat.client_id.userresult.deadlift %}
                                    <span class="trainer_info">
                                        {% trans 'Становая тяга' %}: {{ current_chat.client_id.userresult.deadlift }} кг.
                                    </span>
                                {% endif %}
                                {% if current_chat.client_id.userresult.squats %}
                                    <span class="trainer_info">
                                        {% trans 'Присед' %}: {{ current_chat.client_id.userresult.squats }} кг.
                                    </span>
                                {% endif %}
                                {% if current_chat.client_id.userresult.benchpress %}
                                    <span class="trainer_info">
                                        {% trans 'Жим лёжа' %}: {{ current_chat.client_id.userresult.benchpress }} кг.
                                    </span>
                                {% endif %}
                            {% endif %}

                        {% else %}
                            <span class="trainer_info">
								    {% trans 'Ваш личный тренер' %}
							    </span>
                            {% if chat.trainer_id.image %}
                                <img src="{{ chat.trainer_id.image.url }}" alt="" class="trainer_img">
                            {% endif %}
                            <span class="trainer_name white">
								    {{ chat.trainer_id.get_full_name }}
							    </span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-8">
                    <div class="chats"></div>
                        <form action="" class="chat_form" method="post">
                            {% csrf_token %}
                            <textarea cols="30" rows="3" name="message" id="id_message" class="chat_textarea"
                                      placeholder="{% trans 'Введите сообщение' %}"></textarea>
                            <button class="chat_btn" type="submit">{% trans 'Отправить' %}</button>
                        </form>
                        </div>
                        <script>
                            const userId = {{ user.id|escapejs }};
                            const chatId = window.location.search.substring(1).split('=')[1];
                            const apiUrl = `${window.location.origin}/chat_get_messages`;
                            const url = chatId ? `${apiUrl}/${chatId}/` : `${apiUrl}/0/`;
                            $(document).ready(async () => {
                                const container = $('.chats');
                                
                                const fillChats = async () => {
                                    const messages = await fetch(url).then(res => res.json());
                                    container.empty()
                                    messages.reverse().forEach(({ fields: {author, message, pub_date}}) => {
                                        date = new Date(pub_date);
                                        const dateString = `${date.getDay()}.${date.getMonth()}.${date.getFullYear()}`;
                                        const formattedDate = dateString.split('.').map(val => val.length < 2 ? `0${val}` : val).join('.');
                                        content = `
                                            <div class="messages_${userId === author ? 'user' : 'trainer'}">
                                            <div class="message ${userId === author ? 'message_user' : ''}">
                                            <div class="message_text">
                                                ${message}
                                            </div>
                                            <span class="message_time">
                                                ${formattedDate}
                                            </span>
                                            </div>
                                            </div>
                                        `
                                        container.prepend(content)
                                    })
                                }

                                await fillChats();

                                setInterval(fillChats, 1000 * 1.5)
                            });
                        </script>
{% endblock %}