{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Годзилла' %}
{% endblock %}

{% block content %}
    <div style="background-image: url({% static 'img/homepagebg1.jpg' %});" class="bg">
        <section class="first">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <div class="pointers d-flex">
                            <a href="{% url 'chat' %}" class="pointer_chat white">
                                <svg width="20" height="19" viewBox="0 0 18 19" class="pointer_img" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.18012 13.8626C3.30338 13.9952 3.39783 14.1552 3.45674 14.3314C3.51565 14.5076 3.53757 14.6955 3.52094 14.8818C3.43748 15.7441 3.27925 16.5961 3.04831 17.4268C4.70487 17.0158 5.71663 16.5399 6.17619 16.2905C6.43685 16.149 6.73703 16.1155 7.01931 16.1963C7.82852 16.4275 8.66253 16.5439 9.5 16.5424C14.2452 16.5424 17.8125 12.9706 17.8125 8.90747C17.8125 4.84567 14.2452 1.2725 9.5 1.2725C4.75475 1.2725 1.1875 4.84567 1.1875 8.90747C1.1875 10.7755 1.92019 12.5086 3.18012 13.8626ZM2.59469 18.8317C2.31333 18.8914 2.03106 18.9462 1.748 18.9958C1.5105 19.0365 1.33 18.7719 1.42381 18.5352C1.52925 18.2687 1.6259 17.9984 1.71356 17.7246L1.71712 17.7119C2.01163 16.7957 2.2515 15.7421 2.33938 14.761C0.882313 13.1958 0 11.1471 0 8.90747C0 3.988 4.25362 0 9.5 0C14.7464 0 19 3.988 19 8.90747C19 13.8269 14.7464 17.8149 9.5 17.8149C8.55909 17.8163 7.62207 17.6854 6.71294 17.4256C6.09544 17.7602 4.76662 18.3698 2.59469 18.8317Z"
                                              fill="white"/>
                                    </svg>
                                </svg>
                                {% trans 'Чат с тренером' %}
                            </a>
                            <a href="{% url 'calendar' %}" class="pointer_calendar white">
                                <svg width="19" height="19" viewBox="0 0 18 19" class="pointer_img" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.2 2.84998H4.20001C2.54316 2.84998 1.20001 4.26774 1.20001 6.01664V13.9333C1.20001 15.6822 2.54316 17.1 4.20001 17.1H13.2C14.8569 17.1 16.2 15.6822 16.2 13.9333V6.01664C16.2 4.26774 14.8569 2.84998 13.2 2.84998Z"
                                          stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5.70001 1.26666V4.43333" stroke="white" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                    <path d="M11.7 1.26666V4.43333" stroke="white" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                    <path d="M1.20001 7.59998H16.2" stroke="white" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                                {% trans 'Календарь тренировок' %}
                            </a>

                        </div>
                        <div class="offer_text">
                            <span class="offer_pre-h white">
                                {% trans 'Не хватает силы?' %}
                            </span>
                            <h1 class="offer_h">
                                {% trans 'Приходи в Годзиллу' %}
                            </h1>
                            <p class="white">
                                {% trans 'Запишись на бесплатную тренировку' %}
                                <br>
                                {% trans 'и нарости мышцы как у Годзилы' %}
                            </p>
                        </div>
                        <button class="offer_btn" id="booking">
                            {% trans 'Записаться на пробное' %}
                        </button>

                        <form id="booking-form" action="{% url 'home' %}" method="post" style="display: none">
                            {% csrf_token %}
                            <div class="mt-2">
                                <p class="white mb-1">{% trans 'Пожалуйста, введите ваш номер телефона, и мы вам позвоним' %}</p>
                                <div class="col-6">
                                    <input type="text" name="phone_number" maxlength="17" id="id_phone_number"
                                           class="aboniment-input-number-square col-11">
                                    <button type="submit" class="offer_btn col-11 mt-2">{% trans 'Отправить' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>
    {% if bookingform.errors %}
        {% for field in bookingform %}
            {% for error in bookingform.errors %}
                <div class="alert-training" role="alert">
                    {% trans 'Введите правильный номер телефона' %}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <section class="aboniments d-flex" style="background-image: url({% static 'img/homepagebg2.jpg' %});">
        <div class="container">
            <h2 class="page_h white">{% trans 'Абонементы' %}</h2>
            <div class="row">
                <div class="col-4">
                    <div class="aboniment aboniment_one">
                        <h3 class="abonimet-one_h aboniment-h">Standart</h3>
                        <ul class="aboniments_points">
                            <li>{% trans 'Доступ в тренажерный зал' %}</li>
                            <li>{% trans 'Посещение груповых занятий' %}</li>
                            <li>{% trans 'Сейф для ценных вещей' %}</li>
                            <li>{% trans 'Доступ к закрытым душевым кабинам' %}</li>
                            <li>{% trans 'Ежедневная аренда шкафчика' %}</li>
                        </ul>
                        <div class="aboniment_price">
                            <strong>1000₽</strong>/{% trans 'мес' %}
                        </div>
                        <button class="aboniment_btn aboniment-two_btn" id="booking1">
                            {% trans 'Забронировать' %}
                        </button>
                        <form id="booking-form1" action="{% url 'home' %}" method="post" style="display: none">
                            {% csrf_token %}
                            <div class="mt-2">
                                <p class="mb-1 text-center">{% trans 'Пожалуйста, введите ваш номер телефона, и мы вам позвоним' %}</p>
                                <input type="text" name="phone_number" maxlength="17" id="id_phone_number"
                                       class="aboniment-input-number col-7">
                                <button type="submit" class="aboniment_btn aboniment-two_btn">{% trans 'Отправить' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-4 mb-5">
                    <div class="aboniment aboniment_two">
                        <h3 class="abonimet-two_h aboniment-h">VIP</h3>
                        <ul class="aboniments_points aboniments-two_points">
                            <li>{% trans 'Доступ в тренажерный зал' %}</li>
                            <li>{% trans 'Посещение груповых занятий' %}</li>
                            <li>{% trans 'Сейф для ценных вещей' %}</li>
                            <li>{% trans 'Доступ к закрытым душевым кабинам' %}</li>
                            <li>{% trans 'Ежедневная аренда шкафчика' %}</li>
                            <li>{% trans 'Сотставление рациона питания' %}</li>
                            <li>{% trans 'Бесплатные тренировки с тренером' %}</li>
                            <li>{% trans 'Гостевые визиты' %}</li>
                            <li>{% trans 'Доступ в SPA зону' %}</li>
                            <li>{% trans 'Массаж' %}</li>

                        </ul>
                        <div class="aboniment_price aboniment-two_price">
                            <strong>2500₽</strong>/{% trans 'мес' %}
                        </div>
                        <button class="aboniment_btn aboniment-two_btn" id="booking2">
                            {% trans 'Забронировать' %}
                        </button>
                        <form id="booking-form2" action="{% url 'home' %}" method="post" style="display: none">
                            {% csrf_token %}
                            <div class="mt-2">
                                <p class="white mb-1 text-center">{% trans 'Пожалуйста, введите ваш номер телефона, и мы вам позвоним' %}</p>
                                <input type="text" name="phone_number" maxlength="17" id="id_phone_number"
                                       class="aboniment-input-number col-7">
                                <button type="submit"
                                        class="aboniment_btn aboniment-two_btn">{% trans 'Отправить' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-4">
                    <div class="aboniment aboniment_three">
                        <h3 class="abonimet-two_h aboniment-h">PRO</h3>
                        <ul class="aboniments_points aboniments-two_points">
                            <li>{% trans 'Доступ в тренажерный зал' %}</li>
                            <li>{% trans 'Посещение груповых занятий' %}</li>
                            <li>{% trans 'Сейф для ценных вещей' %}</li>
                            <li>{% trans 'Доступ к закрытым душевым кабинам' %}</li>
                            <li>{% trans 'Ежедневная аренда шкафчика' %}</li>
                            <li>{% trans 'Сотставление рациона питания' %}</li>
                            <li>{% trans 'Бесплатные тренировки с тренером' %}</li>
                            <li>{% trans 'Гостевые визиты' %}</li>
                        </ul>
                        <div class="aboniment_price aboniment-two_price">
                            <strong>1500₽</strong>/{% trans 'мес' %}
                        </div>
                        <button class="aboniment_btn aboniment-two_btn bg-black white" id="booking3">
                            {% trans 'Забронировать' %}
                        </button>
                        <form id="booking-form3" action="{% url 'home' %}" method="post" style="display: none">
                            {% csrf_token %}
                            <div class="mt-2">
                                <p class="white mb-1 text-center">{% trans 'Пожалуйста, введите ваш номер телефона, и мы вам позвоним' %}</p>
                                <input type="text" name="phone_number" maxlength="17" id="id_phone_number"
                                       class="aboniment-input-number col-7">
                                <button type="submit"
                                        class="aboniment_btn aboniment-two_btn bg-black white">{% trans 'Отправить' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(() => {
            $('#booking').on('click', () => {
                const form = $('#booking-form');
                form.css('display') === 'none' ? form.css('display', 'block') : form.css('display', 'none');
            })
            $('#booking1').on('click', () => {
                const form = $('#booking-form1');
                form.css('display') === 'none' ? form.css('display', 'block') : form.css('display', 'none');
            })
            $('#booking2').on('click', () => {
                const form = $('#booking-form2');
                form.css('display') === 'none' ? form.css('display', 'block') : form.css('display', 'none');
            })
            $('#booking3').on('click', () => {
                const form = $('#booking-form3');
                form.css('display') === 'none' ? form.css('display', 'block') : form.css('display', 'none');
            })
        })
    </script>
{% endblock %}