{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Профиль' %}
{% endblock %}

{% block content %}
    <div class="calendar-background">
        <div class="container">
            <div class="row mt-4">
                <div class="col-3">
                    <div class="profile-gym">
                        <p class="profile-gym-title mt-5">{% trans 'Тренер' %}</p>
                        <form action="{% url 'profile' %}" method="POST" name="changetrainer">
                            {% csrf_token %}
                            <select class="profile-select-gym" name="changetrainer-trainer_id" onchange="submit();"
                                    id="id_changetrainer-trainer_id">
                                <option selected>{{ client_trainer.trainer_id|default:_('Выберите тренера') }}</option>
                                {% for x, y in choices_trainer %}
                                    {% if client_trainer.trainer_id.id != x and x %}
                                        <option value="{{ x }}">{{ y }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>

                <div class="col-6 d-flex justify-content-center">
                    <div class="profile-ava-name">
                        <form action="{% url 'profile' %}" method="POST" id="1" enctype="multipart/form-data"
                              name="image">
                        {% csrf_token %}
                            {% if user.image %}
                                <label for="id_image-image" class="profile-image-add transition">
                                    <img src="{{ user.image.url }}" alt="dsafasd" class="profile-image">
                                </label>
                            {% else %}
                                <label for="id_image-image" class="profile-image-add transition">
                                    <svg width="68" height="66" viewBox="0 0 34 32"
                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.7904 30.6581C15.7904 30.9584 15.9151 31.2464 16.1369 31.4588C16.3587 31.6711 16.6596 31.7904 16.9734 31.7904C17.2871 31.7904 17.588 31.6711 17.8098 31.4588C18.0317 31.2464 18.1563 30.9584 18.1563 30.6581V17.0713H32.3516C32.6653 17.0713 32.9662 16.952 33.188 16.7396C33.4099 16.5273 33.5345 16.2393 33.5345 15.939C33.5345 15.6387 33.4099 15.3507 33.188 15.1384C32.9662 14.9261 32.6653 14.8068 32.3516 14.8068H18.1563V1.21989C18.1563 0.919598 18.0317 0.631609 17.8098 0.419272C17.588 0.206936 17.2871 0.0876465 16.9734 0.0876465C16.6596 0.0876465 16.3587 0.206936 16.1369 0.419272C15.9151 0.631609 15.7904 0.919598 15.7904 1.21989V14.8068H1.59517C1.28143 14.8068 0.98055 14.9261 0.758706 15.1384C0.536862 15.3507 0.412231 15.6387 0.412231 15.939C0.412231 16.2393 0.536862 16.5273 0.758706 16.7396C0.98055 16.952 1.28143 17.0713 1.59517 17.0713H15.7904V30.6581Z"
                                              fill="#FFC418"/>
                                    </svg>
                                </label>
                            {% endif %}
                            <input type="file" name="image-image" accept="image/*"
                                   onchange="submit();" id="id_image-image" style="display: none">
                            <input type="file" name="image-image" accept="image/*"
                                   onchange="submit();" id="id_image-image" style="display: none">
                        </form>
                        <p class="profile-gym-title mt-3">{{ user.first_name }}</p>
                        <p class="profile-gym-title">{{ user.last_name }}</p>
{#                        <button id="edit-profile-btn" class="profile-edit transition mt-2">Изменить#}
{#                        </button>#}
{#                        <form id="edit-profile-form" style="display: none">Функция дорабатывается</form>#}
                    </div>

                    </a>
                </div>
                <div class="col-3">
                    <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data"
                          name="gym">
                        {% csrf_token %}
                        {#                                                 Выбор тренажёрного зала#}
                        <div class="profile-gym">
                            <p class="profile-gym-title mt-5">{% trans 'Зал' %}</p>
                            <select class="profile-select-gym" name="gym-gym" onchange="submit();"
                                    id="id_gym-gym">
                                <option selected>{{ user.gym|default:_('Выберите тренажёрный зал') }}</option>
                                {% for x, y in choices_gym %}
                                    {% if user.gym.id != x and x %}
                                        <option value="{{ x }}">{{ y }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="training-detail-comment-line training-line-planed mt-4 profile-line"></div>

    <div class="container">
        <p class="profile-progress-title mt-4">{% trans 'Мой прогресс' %}</p>
        <div class="d-flex justify-content-around mt-4">
            <div class="result-block col-3">
                <svg width="83" height="78" viewBox="0 0 83 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M81.7081 73.6372L82.6366 74.0086C82.6838 73.8904 82.7081 73.7644 82.7081 73.6372H81.7081ZM72.7406 73.6372H71.7406C71.7406 73.7644 71.7648 73.8904 71.8121 74.0086L72.7406 73.6372ZM72.7406 54.8053H73.7406V53.8053H72.7406V54.8053ZM2.4381 64.7729H63.4178V62.7729H2.4381V64.7729ZM6.02514 53.8053C5.42095 53.8053 4.86197 54.0512 4.39846 54.3509C3.92428 54.6575 3.46871 55.073 3.05011 55.5352C2.21275 56.4598 1.43647 57.6681 0.88023 58.8687C0.336935 60.0413 -0.0612656 61.3451 0.00784534 62.435C0.0432666 62.9935 0.209113 63.6012 0.656564 64.0745C1.1221 64.5669 1.75771 64.7729 2.4381 64.7729V62.7729C2.29543 62.7729 2.21215 62.7519 2.1697 62.736C2.13135 62.7216 2.11715 62.7082 2.10989 62.7005C2.09369 62.6834 2.02173 62.5905 2.00384 62.3084C1.96632 61.7168 2.19949 60.7788 2.69492 59.7095C3.17739 58.6681 3.84717 57.6345 4.53254 56.8778C4.87532 56.4993 5.20029 56.2141 5.48449 56.0304C5.77937 55.8397 5.95661 55.8053 6.02514 55.8053V53.8053ZM63.4178 64.7729C64.1297 64.7729 64.7757 64.5818 65.2924 64.1681C65.805 63.7575 66.1021 63.1983 66.2493 62.6174C66.5343 61.4935 66.302 60.1448 65.8314 58.9283C65.3514 57.6877 64.5684 56.4381 63.5717 55.4841C62.5795 54.5344 61.2945 53.8053 59.8307 53.8053V55.8053C60.6088 55.8053 61.4242 56.1971 62.1888 56.9289C62.9487 57.6563 63.5787 58.6486 63.9661 59.6499C64.3628 60.6752 64.452 61.5685 64.3107 62.1259C64.2448 62.3858 64.1418 62.5272 64.0421 62.607C63.9464 62.6837 63.7679 62.7729 63.4178 62.7729V64.7729ZM6.02514 55.8053H59.8307V53.8053H6.02514V55.8053ZM21.5223 44.941C21.5223 49.8366 17.5536 53.8053 12.658 53.8053V55.8053C18.6582 55.8053 23.5223 50.9412 23.5223 44.941H21.5223ZM12.658 53.8053C7.76235 53.8053 3.79367 49.8366 3.79367 44.941H1.79367C1.79367 50.9412 6.65778 55.8053 12.658 55.8053V53.8053ZM3.79367 44.941C3.79367 40.0454 7.76235 36.0767 12.658 36.0767V34.0767C6.65778 34.0767 1.79367 38.9408 1.79367 44.941H3.79367ZM12.658 36.0767C17.5536 36.0767 21.5223 40.0454 21.5223 44.941H23.5223C23.5223 38.9408 18.6582 34.0767 12.658 34.0767V36.0767ZM43.0444 16.2448C43.0444 24.112 36.6668 30.4897 28.7996 30.4897V32.4897C37.7713 32.4897 45.0444 25.2166 45.0444 16.2448H43.0444ZM28.7996 30.4897C20.9324 30.4897 14.5547 24.112 14.5547 16.2448H12.5547C12.5547 25.2166 19.8278 32.4897 28.7996 32.4897V30.4897ZM14.5547 16.2448C14.5547 8.37763 20.9324 2 28.7996 2V0C19.8278 0 12.5547 7.27306 12.5547 16.2448H14.5547ZM28.7996 2C36.6668 2 43.0444 8.37763 43.0444 16.2448H45.0444C45.0444 7.27306 37.7713 0 28.7996 0V2ZM32.2833 16.2448C32.2833 18.1689 30.7236 19.7286 28.7996 19.7286V21.7286C31.8282 21.7286 34.2833 19.2734 34.2833 16.2448H32.2833ZM28.7996 19.7286C26.8755 19.7286 25.3158 18.1689 25.3158 16.2448H23.3158C23.3158 19.2734 25.771 21.7286 28.7996 21.7286V19.7286ZM25.3158 16.2448C25.3158 14.3208 26.8755 12.7611 28.7996 12.7611V10.7611C25.771 10.7611 23.3158 13.2162 23.3158 16.2448H25.3158ZM28.7996 12.7611C30.7236 12.7611 32.2833 14.3208 32.2833 16.2448H34.2833C34.2833 13.2162 31.8282 10.7611 28.7996 10.7611V12.7611ZM24.3158 29.6962V54.8053H26.3158V29.6962H24.3158ZM31.3866 29.6962L31.3866 43.1475H33.3866L33.3866 29.6962H31.3866ZM32.3866 43.2507C36.4355 43.2507 40.1932 43.2517 43.4965 43.5821C46.8072 43.9131 49.5472 44.5664 51.6007 45.7985L52.6297 44.0835C50.1994 42.6253 47.1105 41.9335 43.6955 41.592C40.2732 41.2497 36.4085 41.2507 32.3866 41.2507V43.2507ZM51.6007 45.7985C52.916 46.5877 54.779 46.9968 56.8022 47.2105C58.8545 47.4273 61.2017 47.4544 63.5726 47.3979C65.9463 47.3414 68.3736 47.2002 70.5836 47.0743C72.8065 46.9477 74.7928 46.8378 76.3276 46.8378V44.8378C74.7238 44.8378 72.6747 44.952 70.4698 45.0776C68.252 45.2039 65.8593 45.3429 63.525 45.3985C61.188 45.4542 58.9393 45.4252 57.0123 45.2216C55.0561 45.015 53.5563 44.6394 52.6297 44.0835L51.6007 45.7985ZM76.3276 46.8378C77.1126 46.8378 77.7252 46.8527 78.2285 46.92C78.7259 46.9865 79.0497 47.0967 79.2825 47.2437C79.6989 47.5067 80.1143 48.0786 80.3838 49.8033C80.6505 51.51 80.7361 54.0692 80.7502 57.9476C80.7642 61.8206 80.7081 66.8883 80.7081 73.6372H82.7081C82.7081 66.9347 82.7641 61.8018 82.7502 57.9403C82.7362 54.0842 82.6537 51.3749 82.3598 49.4946C82.0689 47.6323 81.5315 46.2986 80.3505 45.5527C79.7847 45.1954 79.1487 45.0253 78.4936 44.9377C77.8444 44.8508 77.112 44.8378 76.3276 44.8378V46.8378ZM80.7796 73.2658C80.0195 75.1662 78.5693 76 77.2243 76C75.8794 76 74.4292 75.1662 73.669 73.2658L71.8121 74.0086C72.8454 76.5919 74.9823 78 77.2243 78C79.4664 78 81.6033 76.5919 82.6366 74.0086L80.7796 73.2658ZM73.7406 73.6372V54.8053H71.7406V73.6372H73.7406ZM72.7406 53.8053H31.4898V55.8053H72.7406V53.8053Z"
                          fill="#FFC418"/>
                </svg>
                <p class="profile-result-name">{% trans 'Жим лёжа' %}</p>
                <p class="profile-result-description">{% trans 'Базовое упражнение с поднятием тяжести, выполняемое на скамье' %}.</p>
                <p class="mt-4">{% trans 'Ваш личный рекорд' %}:</p>
                <form action="{% url 'profile' %}" method="post" name="changeresults" id="2">
                    {% csrf_token %}
                    <div class="d-flex">
                        <input type="text" name="changeresults-benchpress" onchange="submit();"
                               class="profile-result-value text-right" min="0" max="600" step="5"
                               id="id_changeresults-benchpress"
                               value="{{ results.benchpress|default:'0' }}">
                        <p class="profile-result-value ml-1">{% trans 'кг' %}</p>
                    </div>
                    <label for="id_changeresults-benchpress" class="profile-change-result-label">{% trans 'Изменить' %}</label>
                </form>
            </div>
            <div class="result-block col-3">
                <img width="83" height="78" src="{% static 'img/deadlift.png' %}" alt="">
                <p class="profile-result-name">{% trans 'Становая тягя' %}</p>
                <p class="profile-result-description">{% trans 'Подъем штанги с пола, для развития мышц ног и спины' %}.</p>
                <p class="mt-4">{% trans 'Ваш личный рекорд' %}:</p>
                <div class="d-flex">
                    <input type="text" name="changeresults-deadlift" onchange="submit();"
                           class="profile-result-value text-right" min="0" max="600" step="5" form="2"
                           id="id_changeresults-deadlift"
                           value="{{ results.deadlift|default:'0' }}">
                    <p class="profile-result-value ml-1">{% trans 'кг' %}</p>
                </div>
                <label for="id_changeresults-deadlift" class="profile-change-result-label">{% trans 'Изменить' %}</label>
            </div>

            {#            Присед#}
            <div class="result-block col-3">
                <img width="83" height="78" src="{% static 'img/squat.png' %}" alt="">
                <p class="profile-result-name">{% trans 'Присед' %}</p>
                <p class="profile-result-description">{% trans 'Эффективное базовое упражнение для тренировки ваших ног' %}.</p>
                <p class="mt-4">{% trans 'Ваш личный рекорд' %}:</p>
                <div class="d-flex">
                    <input type="text" name="changeresults-squats" onchange="submit();"
                           class="profile-result-value text-right" min="0" max="600" step="5" form="2"
                           id="id_changeresults-squats"
                           value="{{ results.squats|default:'0' }}">
                    <p class="profile-result-value ml-1">{% trans 'кг' %}</p>
                </div>

                <label for="id_changeresults-squats" class="profile-change-result-label">{% trans 'Изменить' %}</label>
            </div>


        </div>
    </div>
{#    <script>#}
{#        $(document).ready(() => {#}
{#            $('#edit-profile-btn').on('click', () => {#}
{#                const form = $('#edit-profile-form');#}
{#                form.css('display') === 'none' ? form.css('display', 'block') : form.css('display', 'none');#}
{#            })#}
{#        })#}
{#    </script>#}
{% endblock %}