{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Тренировка' %} {{ training.date|date:'j.m.Y' }}
{% endblock %}

{% block content %}
    <div class="calendar-background">
        <div class="training-line
        {% if training.is_completed %} training-line-completed
        {% elif training.is_missed %} training-line-missed
        {% else %} training-line-planed
        {% endif %}">
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-6 mt-3">
                        <h2 class="training-detail-dayweek">{{ training.date|date:'l' }}</h2>
                        <p class="training-detail-date">{{ training.date|date:'j.m.Y' }}</p>
                    </div>
                    <div class="col-4 d-flex justify-content-around align-items-center mt-3">
                        <a href="{% url 'update_training' training.pk %}" class="training-detail-edit-delete"><img src="{% static 'img/edit-white.svg' %}"
                                                                            class="mr-2 mb-1" alt="" height="17px"
                                                                            width="17px">{% trans 'Изменить' %}</a>
                        <a href="{% url 'delete_training' training.pk %}" class="training-detail-edit-delete"><img
                                src="{% static 'img/delete-white.svg' %}"
                                class="mr-2 mb-1" alt="" height="17px"
                                width="17px">{% trans 'Удалить' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="training-detail-title">{{ training.title }}</div>
                    {% if training.content %}
                        <div class="training-detail-content">{{ training.content|linebreaks }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if training.comment %}
            <div class="training-detail-comment-line
        {% if training.is_completed %} training-line-completed
        {% elif training.is_missed %} training-line-missed
        {% else %} training-line-planed
        {% endif %}"></div>
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <p class="training-detail-comment-title mb-2">{% trans 'Комментарий' %}</p>
                        <div class="training-detail-content">{{ training.comment|linebreaks }}</div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}