{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Календарь' %}
{% endblock %}

{% block content %}
    <div class="calendar-background">
        <div class="container">
            <h2 class="calendar-title">{% trans 'Календарь тренировок' %}</h2>
            <div class="row">
                {% for day in days %}

                    {% if day in training_days_clean %}

                        {% for training in object_list %}

                            {% if day == training.date %}


                                {# Если день тренировочный #}
                                <div class="day">
                                    <div class="day-head
                        {% if training.is_completed %} day-head-completed
                        {% elif training.is_missed %} day-head-missed
                        {% else %} day-head-planned
                        {% endif %}">
                                        {{ day|date:'D j F' }}
                                    </div>
                                    <a class="day-body transition
                        {% if training.is_completed %} day-body-completed
                        {% elif training.is_missed %} day-body-missed
                        {% else %} day-body-planned
                        {% endif %}" href="{{ training.get_absolute_url }}">
                                        {{ training.title|wordwrap:10 }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}


                        {# Если день не тренировочный #}
                    {% else %}
                        {% if day < today %}
                            <div class="day">
                                <div class="day-head day-head-rest">
                                    {{ day|date:'D j F' }}
                                </div>
                                <a class="day-body day-body-rest transition"
                                   href="{% url 'create_training' %}?date={{ day|date:'Y-m-d' }}">
                                    {% trans 'Отдых' %}
                                </a>
                            </div>
                        {% else %}
                            <div class="day">
                                <div class="day-head day-head-empty">
                                    {{ day|date:'D j F' }}
                                </div>
                                <a class="day-body day-body-empty transition"
                                   href="{% url 'create_training' %}?date={{ day|date:'Y-m-d' }}">
                                    <div class="add-training">
                                        <svg width="34" height="32" viewBox="0 0 34 32"
                                             fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.7904 30.6581C15.7904 30.9584 15.9151 31.2464 16.1369 31.4588C16.3587 31.6711 16.6596 31.7904 16.9734 31.7904C17.2871 31.7904 17.588 31.6711 17.8098 31.4588C18.0317 31.2464 18.1563 30.9584 18.1563 30.6581V17.0713H32.3516C32.6653 17.0713 32.9662 16.952 33.188 16.7396C33.4099 16.5273 33.5345 16.2393 33.5345 15.939C33.5345 15.6387 33.4099 15.3507 33.188 15.1384C32.9662 14.9261 32.6653 14.8068 32.3516 14.8068H18.1563V1.21989C18.1563 0.919598 18.0317 0.631609 17.8098 0.419272C17.588 0.206936 17.2871 0.0876465 16.9734 0.0876465C16.6596 0.0876465 16.3587 0.206936 16.1369 0.419272C15.9151 0.631609 15.7904 0.919598 15.7904 1.21989V14.8068H1.59517C1.28143 14.8068 0.98055 14.9261 0.758706 15.1384C0.536862 15.3507 0.412231 15.6387 0.412231 15.939C0.412231 16.2393 0.536862 16.5273 0.758706 16.7396C0.98055 16.952 1.28143 17.0713 1.59517 17.0713H15.7904V30.6581Z"
                                                  fill="#FFC418"/>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}

                {% endfor %}
            </div>
            <div class="row d-flex justify-content-around mt-4 pr-2">
                <div class="row">
                    <div class="training-prompt training-missed-prompt"></div>
                    <div class="prompt-text">{% trans 'Пропущенная' %}<br>{% trans 'тренировка' %}</div>
                </div>
                <div class="row">
                    <div class="training-prompt training-completed-prompt"></div>
                    <div class="prompt-text">{% trans 'Завершённая' %}<br>{% trans 'тренировка' %}</div>
                </div>
                <div class="row">
                    <div class="training-prompt training-planed-prompt"></div>
                    <div class="prompt-text">{% trans 'Запланированная' %}<br>{% trans 'тренировка' %}</div>
                </div>
                <div class="row">
                    <div class="training-prompt training-rest-prompt"></div>
                    <div class="prompt-text">{% trans 'День' %}<br>{% trans 'отдыха' %}</div>
                </div>
                <div class="row">
                    <div class="training-prompt training-empty-prompt"></div>
                    <div class="prompt-text">{% trans 'Пустой' %}<br>{% trans 'день' %}</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}