{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Создание тренировки' %}
{% endblock %}

{% block content %}
    <div class="calendar-background">
        <div class="training-line-empty training-line">
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-5 mt-2">
                        <h2 class="training-detail-dayweek training-detail-line-save-update">{% trans 'Дата тренировки' %}</h2>
                        <input class="training-create-form-field-date"
                               form="create-form"
                               type="text"
                               name="date"
                               value="{{ date|date:'j.m.Y' }}"
                               required="" id="id_date">
                    </div>
                    <div class="col-4 d-flex justify-content-around align-items-center">
                        <button form="create-form" type="submit"
                                class="training-detail-edit-delete training-detail-line-save-update"><img
                                src="{% static 'img/edit-black.svg' %}"

                                class="mr-2" alt="" height="17px"
                                width="17px">{% trans 'Сохранить' %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert-training" role="alert">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert-training" role="alert">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-5">
                    <form action="{% url 'create_training' %}?date={{ request.GET.date }}" method="post"
                          id="create-form">
                        {% csrf_token %}
                        <div class="d-flex flex-column">
                            <input class="training-create-form-field  mt-4" placeholder="{% trans 'Заголовок тренировки' %}"
                                   type="text"
                                   name="title"
                                   value="{{ form.title.value|default:'' }}"
                                   maxlength="40"
                                   required="" id="id_title">
                            <textarea class="training-create-form-field  mt-4" placeholder="{% trans 'Описание тренировки' %}"
                                      name="content" rows="10"
                                      id="id_content">{{ form.content.value|default:'' }}</textarea>
                            <div class="mt-4 row d-flex justify-content-between">
                                <div class="ml-3 row">
                                    <input class="mt-2 mr-1" type="checkbox" name="is_missed"
                                           id="id_is_missed">
                                    <p class="training-detail-label-checkbox">{% trans 'Тренировка пропущена' %}</p>
                                </div>
                                <div class="mr-3 row">
                                    <input class="mt-2 mr-1" type="checkbox" name="is_completed"
                                           id="id_is_completed">
                                    <p class="training-detail-label-checkbox">{% trans 'Тренировка завершена' %}</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="training-detail-comment-line training-detail-comment-line-empty"></div>
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-5 d-flex flex-column">
                    <p class="training-detail-comment-title mb-2">{% trans 'Комментарий' %}</p>
                    <input class="training-create-form-field " type="text" name="comment" maxlength="200"
                           id="id_comment" form="create-form" value="{{ form.comment.value|default:'' }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}